/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #07080c;
}

.heading {
  font-family: 'Roboto';
  font-size: 50px;
  color: #ffffff;
  font-weight: 500;
  font-style: italic;
}
.image {
  height: 400px;
  width: 50%;
}
.speed-heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
}
.para {
  font-family: 'Roboto';
  font-size: 20px;
  color: #cbd5e1;
}

.button-container {
  display: flex;
  flex-direction: row;
}
.button-1 {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 8px;
  background-color: #0b69ff;
  border: none;
  border-radius: 6px;
}
.button-2 {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #94a3b8;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 8px;
  background-color: #07080c;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 6px;
}
